<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonteCarloService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMonteCarloService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.10:8080/MonteCarloService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMonteCarloService"
                contract="MonteCarloService.IMonteCarloService" name="BasicHttpBinding_IMonteCarloService" />
            <endpoint address="net.tcp://localhost:8090/MonteCarloService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IMonteCarloService"
                contract="MonteCarloService.IMonteCarloService" name="NetTcpBinding_IMonteCarloService">
                <identity>
                    <userPrincipalName value="MACAIR-PC\macair" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>